.projetos-container h1{
  margin-left: auto;
  margin-right: auto;
  max-width: 800px;
  align-items: center;
  margin-bottom: 35px;
  font-family: 'Fira Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 35px;
  line-height: 42px;
  color: #2895AD;
  position: relative;
}
.projeto-container{
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
  align-items: center;
  margin-bottom: 270px;
}
.projetos-container h1::before  {
  content: "";
  display: inline-block;
  width: 28px;
  height: 7px;
  background: #5C51DF;
  position: absolute;
  margin-top: -8px;
}
.projetos-flex h2{
  font-family: 'Fira Code';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 26px;
  color: #FFFFFF;
  margin-bottom: 26px;
}
.projetos-flex p{
  font-family: 'Fira Code';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
  color: #FFFFFF;
  margin-bottom: 30px;
}
.projetos-flex a{
  font-family: 'Fira Code';
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 30px;
  color: #FFFFFF;
  text-align: center;
}

.projetos-flex{
  display: flex;
  justify-content: center;
  gap: 43px;
}
.projetos-flex div{
  max-width: 375px;
  display: grid;
  padding:36px 25px 28px 46px ;
  border: 1px solid #2519BE;
  border-radius: 4px;
  box-sizing: border-box;
}


@media(max-width:600px){
.projetos-flex {
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.projetos-flex div{
  padding: 10px 5px;
  text-align: center;
  max-width: 320px;
}
.projetos-container h1{
  max-width: 337px;
}
.projetos-flex p{
  font-size: 15px;
}
.projetos-flex a{
  font-size: 13px;
}
}